@{
    ViewBag.Title = "Home";
}

<h1>Home</h1>

@{
    PersonGridModel personModel = new PersonGridModel()
    {
        GridTitle = "Persons List",
        Persons = new List<PersonModel>()
        {
            new PersonModel { JobTitle = "QA", PersonName = "Adams" },
            new PersonModel { JobTitle = "Analyst", PersonName = "Della" },
            new PersonModel { JobTitle = "Developer", PersonName = "Bone" }
        }
    };
}

<p>Calling View Component using Default method</p>
@await Component.InvokeAsync("Grid", new { gridParam = personModel })

@*Also we can call the ViewComponent using Tag Helpers*@

<p>Calling View Component using Tag Helper</p>
<vc:grid grid-param="personModel"></vc:grid>