@model IEnumerable<string>
@{
    ViewBag.Title = "Home";
}

<h1>Cities</h1><br />

<ul class="list">
    
    <h3>Reading value as Options Pattern from controller Env. Specific with Conf. as Service <br /><code>@ViewBag.ClientID</code></h3>
    <br />
    <h3>Reading value as Options Pattern from controller Env. Specific with Conf. as Service <br /><code>@ViewBag.ClientID</code></h3>
    <br />
    @foreach(string city in Model)
    {
        <li>@city</li>
    }
</ul>