@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Child Updated title";
}

<p>_ViewStart ececuting from Home-Child</p>

@* Child _ViewStart.cshtml can overrite the parent _ViewStart.cshtml *@