

<div class="content">
    _ViewStart used to initialize property which is common for current folder or full project , current or root respectively
    <span><a href="/products">Products</a></span>
</div>