<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:#eee; padding:40px;">
        @RenderBody()
    </div>
</body>
</html>
